<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.markfromberg.SkedgePlugin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Skedge</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.9</string>
	<key>CFBundleVersion</key>
	<string>13</string>
	<key>UpdateFeedURL</key>
	<string>____OnlineUrlToThisPlist____</string>
	<key>productPageURL</key>
	<string>____ProductPageURL____</string>
	<key>productReleaseNotes</key>
	<string>Completely rewritten Syntax Highlighting</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright, Mark Frömberg, 2017</string>
	<key>NSPrincipalClass</key>
	<string>SkedgePlugin</string>
</dict>
</plist>
